.episodes__item {
  display: flex;
  padding: 40px;

  background-color: $black-color;
  border-radius: 32px;

  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

.episodes__image {
  margin-right: 53px;
}

.episodes_container__link {
  display: inline-block;
  text-align: center;
  margin-top: 7.68px;
  padding: 0 16px;

  width: fit-content;
  border-radius: 6px;
  background-color: $gray-color;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0%;
}

.episodes_container__name {
  margin-top: 48px;

  font-family: inherit;
  font-weight: inherit;
  font-size: 17px;
  line-height: 1.58;
  letter-spacing: 0%;
  color: $green-blue-color;

  &--size {
    font-size: 18px;
    line-height: 1.5;
  }
}

.episodes_container__title {
  margin-top: 17.56px;

  font-family: inherit;
  font-weight: inherit;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 2.56px;
}

.episodes_container__description {
  margin-top: 28px;

  font-family: inherit;
  font-weight: inherit;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0%;
  opacity: 0.7;
}

.episodes_container__button {
  cursor: pointer;
  margin-top: 18px;

  width: 208px;
  height: 51px;

  border-radius: 6px;
  border-color: transparent;
  background-color: $green-blue-color;
  color: inherit;

  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0%;
}
