.subscription__description {
    color: $green-blue-color;
    font-family: inherit;
    font-weight: inherit;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0%;
}

.subscription__title {
    font-family: inherit;
    font-weight: inherit;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 2.88px;
}